<html>

  <head>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='/application.css' rel='stylesheet' type='text/css'>

    <title>Raspberry Microwave</title>
  </head>

  <body>
    <div class="barcodes" <% if @barcodes.empty? %>style="display: none;"<% end %>>
      <h3>Unknown Barcodes</h3>
      <ul class="barcodes-list">
        <% @barcodes.each do |barcode| %>
          <li><%= barcode %>: <a href="">Add Product</a></li>
        <% end %>
      </ul>

      <form action="/clear_barcodes" method="post">
        <input class="clear_barcodes btn btn-danger" type="submit" value="Clear barcodes">
      </form>
    </div>

    <div class="container">
      <div class="screen">
        <table class="info" <% if @info.nil? %>style="display: none;"<% end %>>
          <tr>
            <th>Status:</th>
            <td class="on"><%= @info && (@info[:on] ? "On" : "Off") %></td>
          </tr>
          <tr>
            <th>Door:</th>
            <td class="door"><%= @info && (@info[:door_open] ? "Open" : "Closed") %></td>
          </tr>
          <tr>
            <th>Time:</th>
            <td class="time"><%= @info && @info[:formatted_time] %></td>
          </tr>
          <tr>
            <th>Power:</th>
            <td class="power"><%= @info && @info[:power_string] %></td>
          </tr>
        </table>

        <div class="error" <% if @info %>style="display: none;"<% end %>>
          <strong>ERROR</strong>
        </div>
      </div>

      <div class="buttons">
        <div class="autostart-times">
          <div class="btn-row">
            <button type="button" data-name="Quickstart High 10s" class="btn btn-danger">10s</button>
            <button type="button" data-name="Quickstart High 20s" class="btn btn-danger">20s</button>
            <button type="button" data-name="Quickstart High 30s" class="btn btn-danger">30s</button>
            <button type="button" data-name="Quickstart High 1m" class="btn btn-danger">1m</button>
            <button type="button" data-name="Quickstart High 2m" class="btn btn-danger">2m</button>
          </div>

          <div class="btn-row">
            <button type="button" data-name="Quickstart Medium 10s" class="btn btn-warning">10s</button>
            <button type="button" data-name="Quickstart Medium 20s" class="btn btn-warning">20s</button>
            <button type="button" data-name="Quickstart Medium 30s" class="btn btn-warning">30s</button>
            <button type="button" data-name="Quickstart Medium 1m" class="btn btn-warning">1m</button>
            <button type="button" data-name="Quickstart Medium 2m" class="btn btn-warning">2m</button>
          </div>
        </div>

        <div class="main">

          <img class="raspberry-pi-logo" src="Raspberry_Pi_Logo.png">

          <div class="controls">
            <div class="btn-row">
                <button type="button" data-name="Start" class="btn btn-success btn-large">Start</button>
            </div>
            <div class="btn-row">
              <button type="button" data-name="Stop" class="btn btn-inverse btn-large">Stop</button>
            </div>
          </div>

          <div class="time">
            <div class="btn-row">
              <button type="button" data-name="Time 1s" class="btn btn-large"><i class="icon-plus"></i> 1s</button>
              <button type="button" data-name="Time 10s" class="btn btn-large"><i class="icon-plus"></i> 10s</button>
            </div>
            <div class="btn-row">
              <button type="button" data-name="Time 1m" class="btn btn-large"><i class="icon-plus"></i> 1m</button>
              <button type="button" data-name="Time 10m" class="btn btn-large"><i class="icon-plus"></i> 10m</button>
            </div>
          </div>

          <div class="power">
            <div class="btn-row">
              <button type="button" data-name="Power High" class="btn btn-danger btn-large">High</button>
              <button type="button" data-name="Power Medium" class="btn btn-warning btn-large">Medium</button>
            </div>
            <div class="btn-row ">
              <button type="button" data-name="Power Low" class="btn btn-primary btn-large">Low</button>
              <button type="button" data-name="Power Defrost" class="btn btn-info btn-large">Defrost</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="/application.js"></script>
  </body>
</html>